---
title: The Gateway Ringers Performance Schedule
---
<div class="ph2">
<h1>The Gateway Ringers Performance Schedule</h1>

<i>Receive performance updates via email - just <a class="link blue dim" href="mailto:info@gatewayringers.org?subject=Please add me to the email list">send us an email</a>!</i>

<h2>Upcoming Concerts</h2>
<ul class="list">
{% for year_event in site.data.events reversed limit:2 %}
  {% for concert in year_event.concerts %}
  <li hidden class="mv3 upcoming"><div class="white bg-gold fl tc f0 ph3 pv2"><span class="f5 pb0 b">{{ concert.date | date: "%b" }}</span><br><span class="f3 b">{{ concert.date | date: "%-d" }}</span></div>
    <div class="upcoming_date" hidden>{{ concert.date }}</div>
    <h3 class="pl5 mv1">{{ concert.name }}</h3>
    <p class="pl5 mv1 b">{{ concert.time }}</p>
    <p class="pl5 mv1 athelas">{{ concert.location }}<br>
    <a class="link blue dim" target="_blank" href="{{ concert.href }}">{{ concert.address }}</a>
    <p class="pl5 mv1 i f6 athelas">For more info <a class="link blue dim" href="mailto:info@gatewayringers.org">email us</a>{% if concert.contact %} or contact {{ concert.contact }}{% endif %}</p>
  </li>
  {% endfor %}
{% endfor %}
</ul>

{% for year_event in site.data.events %}
<h2>{{ year_event.year }} Performance Schedule</h2>
<ul class="list">
  {% for concert in year_event.concerts %}
  <li class="mv3"><div class="white bg-gold fl tc f0 ph3 pv2"><span class="f5 pb0 b">{{ concert.date | date: "%b" }}</span><br><span class="f3 b">{{ concert.date | date: "%-d" }}</span></div>
    <h3 class="pl5 mv1">{{ concert.name }}</h3>
    <p class="pl5 mv1 b">{{ concert.time }}</p>
    <p class="pl5 mv1 athelas">{{ concert.location }}<br>
    <a class="link blue dim" target="_blank" href="{{ concert.href }}">{{ concert.address }}</a>
    <p class="pl5 mv1 i f6 athelas">For more info <a class="link blue dim" href="mailto:info@gatewayringers.org">email us</a>{% if concert.contact %} or contact {{ concert.contact }}{% endif %}</p>
  </li>
  {% endfor %}
</ul>
{% endfor %}

<script>
var upcoming = document.querySelectorAll("li.upcoming");
for (var event in upcoming) {
  var upcoming_date = new Date(upcoming[event].querySelector(".upcoming_date").innerText+"T00:00:00");
  if (upcoming_date >= new Date(new Date().toDateString())) {
    upcoming[event].style.display = "block";
  }
}
</script>
