---
title: Gateway Repertoire
---
<h1 class="ph2">Gateway Repertoire</h1>
{% for year_repertoire in site.data.annual_repertoires %}
<h2 class="ph2">{{ year_repertoire.year }}</h2>
<table class="f6 w-100 mw8 center" cellspacing="0">
    <tbody class="h-copy athelas">
    {% for piece in year_repertoire.pieces %}
    <tr class="stripe-dark">
        <th class="tl pa2">{{ piece.title }}</td>
        <th class="tl pa2">{{ piece.composer }}</td>
        <th class="tl pa2">{{ piece.concert }}</td>
    </tr>
    {% endfor %}
</table>
{% endfor %}
